body {
    background-color: #303030;
    font-size: 120%;
	color: #EBF0F2;
	font-family: 'Roboto Slab', serif;
	font-weight: 300; 
}
::selection {
    background: #80C0FF;
	color: #303030;
}
::-moz-selection {
    background: #80C0FF;
	color: #303030;
}
.visualClear {
    clear: both;
}
* *:link, *:visited {
    text-decoration: none;
    color: #80C0FF;
}
* *:link:hover,
* *:visited:hover {
    text-decoration: none;
	text-shadow: 0 0 5px rgba(128,192,255,0.8);
}
.documentFirstHeading{
	font-size: 110%;
	font-weight: 700;
}
* ul, ol {
    list-style: outside none none;
}
* li {
    display: inline;
}
#header {
    padding-top: 0.5em;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: 0;
}
#giesing-main-menu {
    height: 5em;
    width: 5em;
    float: left;
    margin: 0 1.25em 0 0;
}
#giesing-main-menu dt {
    height: 5em;
    width: 5em;
}
#giesing-main-menu dt a {
 	color: #80C0FF;
}
a.main-menu {
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    line-height: 2.25em;
    display: inline-block;
    width: 2.4em;
    height: 2.4em;
    border-width: 0.1em;
    border-color: #80C0FF;
    border-style: solid;
}
.actionMenu dd {
    background: none repeat scroll 0 0 rgba(235,240,242,0.9);
    width: 14em;
    padding: 0.25em;
    margin: 0;
    font-size: 100%;
    line-height: 175%;	
}
dl#giesing-main-menu.actionMenu.activated dd {
	height: 15.5em;
}
body.userrole-manager dl#giesing-main-menu.actionMenu.activated dd {
	height: 16.5em;
}
.actionMenu dd li {
    display: list-item;
}
.actionMenu dd a {
	color: #303030;
}
.actionMenu dd a:hover {
	/*color: #80C0FF;*/
	background-color: #80C0FF;
	text-decoration: none;
}
.actionMenu.activated .actionMenuContent,
#contentActionMenus dl.actionMenu.activated dd {
    z-index: 1008;
	/*height: auto;*/
	transition: all 300ms ease 0s;
}
dl.actionMenu ul {
    padding: 0.5em;
}
dl.actionMenu.deactivated dd {
    /*display: none;*/
	visibility: hidden;
	height: 0em;
	/*transform: translate(0,-100px);*/
}
dl.actionMenu.activated dd {
    position: absolute;
}
a#portal-logo {
    display: inline-block;
    height: 5em;
    position: relative;
}
a#portal-logo img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#background-bar {
    background-color: #80C0FF;
    color: #303030;
    border-width: 0.1em;
    border-color: #3e9efd;
    border-style: solid;
	font-weight: 500;
}
#background-bar span.section {
    margin: auto 0;
}
#background-bar .actionMenuHeader,
#background-bar .actionMenu {
    height: 2em;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}
#background-bar *:link,
#background-bar *:visited {
    color: #303030;
}
#background-bar a.background {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.35em;
    text-align: center;
    margin-top: 0.2em;
    margin-left: 0.3em;
    margin-right: 0.75em;
    border-width: 0.1em;
    border-color: #303030;
    border-style: solid;
}
#background-bar .actionMenu dd {
    width: auto;
}
#background-bar .actionMenu.deactivated a.background:before {
    content: ">";
}
#background-bar .actionMenu.activated a.background:before {
    content: "<";
}
a.navTreeFolderish span:before {
    content: "ה ";
}
a.navTreeCurrentItem,
a.navTreeCurrentItem:hover {
    font-weight: bold;
}
#body {
    max-width: 35em;
    margin: 0 auto 2em auto;
}
.documentByLine {
	font-weight: 100; 
	font-size: 90%;
}
.documentByLine *:link:hover{
	font-weight: 100;
}
.comments {
    font-size: 80%;
}
div#explore {
    height: 2.75em;
}
/*div#explore a {
}*/
div#explore .next,
div#explore .previous {
	font-weight: 300;
    color: #303030;
   	background-color: #EBF0F2;
	width: 22.25%;
    font-size: 75%;
    text-align: center;
	vertical-align: middle;
	display: inline-block;
    overflow: hidden;
    border: 0.2em solid #303030;
    height: 2.75em;
    padding: 0 0.5em;
}
div#explore .next {
    float: right;
}
div#explore .previous {
    float: left;
}
/*
div#explore .next a,
div#explore .previous a {
    color: #303030;
}*/
div#explore a.next:hover,
div#explore a.previous:hover {
	background-color: #80C0FF;
}

div#spacetime {
    width: 100%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

div#spacetime .tag {
	font-weight: 100;
    font-size: 75%;
    text-align: center;
	vertical-align: middle;
	display: inline-block;
    overflow: hidden;
    border: 0.2em solid #303030;
    padding: 0 0.5em;
}
div#spacetime .tag *:link:hover{
	font-weight: 100;
}
#timetag {
    margin-left: auto;
}
#locationtag {
    margin-right: auto;
}
#timetag a {
    color: #80C0FF;
    cursor: pointer;
}
/*div#explore .tag a {
}*/

#TimeLineViewlet,
div#commenting,
div.discussion {
    display: none;
}
#TimeLineViewlet ul {
    height: 3.75em;
    padding: 0.1em 0em 0em;
}
#TimeLineViewlet ul li {
    display: inline;
    border-right: 0.1em solid gray;
}
#TimeLineViewlet ul li.even {
    border-bottom: 0.1em solid black;
    padding: 0.1em 1em 0.5em;
}
#TimeLineViewlet ul li.odd {
    border-top: 0.1em solid black;
    padding: 0.5em 1em 0.1em;
    position: relative;
    top: 2.15em;
}
#TimeLineViewlet ul li a .timetag {
    display:none;
}
#TimeLineViewlet ul li a:hover .timetag {
    display:block;
}
.current_snippet {
    font-weight: bold;
}

#edit-bar {
    border: 0.25em solid #303030;
    font-size: 80%;
    margin-bottom: 1em;
    min-height: 2em;
    padding-top: 0.05em;
}
#edit-bar, #content ul.formTabs, #content-core ul.formTabs {
    border-style: solid solid none;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    display: block;
    margin-left: 0;
}
#contentActionMenus {
    border-radius: 0 0.5em 0.5em;
    margin: 0;
    position: relative;
    right: -0.24em;
    top: -0.23em;
}
.hiddenStructure {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    height: 0.1em;
    margin: -0.1em 0 0 -0.1em;
    overflow: hidden;
    padding: 0;
    width: 1px;
}
#plone-contentmenu-display,
#plone-contentmenu-workflow,
#personaltools-preferences,
#personaltools-dashboard {
    display: none;
}
.markItUpHeader ul li {
    background-color: #ebf0f2;
}
.markItUpHeader ul a {
    background-position: center;
}
#content textarea {
    width: 100%;
}
